* {
    box-sizing: border-box;
}

body {
    line-height: 6px;
    font-family: 'Lato', Verdana, sans-serif;
    font-weight: 700;
}

.header {
    max-width: 1020px;
    height: 95px;
    margin: auto;
    background-color: #2d303a;
    padding: 17px 40px 0 40px;
    border-bottom: 6px solid #323746;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

.navigation {
    display:  flex;
}

.navigation__link {
    color: #ffffff;
    list-style: none;
    font-size: 11px;
    text-transform: uppercase;
    margin: 14px 2px 0 26px;
    cursor: pointer;
    letter-spacing: 0.3px;
}

.navigation__link:not(:first-child)::before {
    position: relative;
    content: ".";
    color: #494e62;
    top: -2px;
    left: -13px;
    font-weight: 900;
}

.logo p > span {
    color: #f06c64;
}

.phones {
    max-width: 1020px;
    height: 600px;
    margin: auto;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.iphone-vertical, .iphone-horizontal, .chev-left, .chev-right {
    position: absolute;
}

.phones__wrapper{
    position: relative;
}

.iphone-vertical{
    left: 112px;
    top: 53px;
}

.iphone-horizontal{
    left: 425px;
    top: 174px;
}

.chev-right {
    top: 280px;
    right: 40px;
    color: rgb(200, 70, 76);
}

.chev-left {
    color: rgb(200, 70, 76);
    transform: rotate(180deg);
    top: 280px;
    left: 42px;
}